.row
  %h1 Demo Index
.row
  %ul.thumbnails
    %li.span3
      .thumbnail
        %h4 Click to Call demo
        %p.fixedtn Make yourself reachable by putting a click to call form on your website.
        .ralign
          %a{href: "/c2c", class: "btn btn-info"}
            Launch demo
    %li.span3
      .thumbnail
        %h4 Events demo
        %p.fixedtn Adhearsion exposes events about what is going on server-side. As an example, we will push them to a browser window using Faye.
        .ralign
          %a{href: "/events", class: "btn btn-info"}
            Launch demo
:javascript
  $(function() {
  });
