.row
  %h1 Demo Index
.row
  %ul.thumbnails
    %li.span3
      .thumbnail
        %h4 Click to Call demo
        %p.fixedtn Make yourself reachable by putting a click to call form on your website.
        .ralign
          %a{href: "/c2c", class: "btn btn-info", id: "c2c"}
            Launch demo
    %li.span3
      .thumbnail
        %h4 Events demo
        %p.fixedtn Adhearsion exposes events about what is going on server-side. As an example, we will push them to a browser window using Faye.
        .ralign
          %a{href: "/events", class: "btn btn-info"}
            Launch demo
    %li.span3
      .thumbnail
        %h4 Information
        %p.fixedtn You will need a SIP client configured to connect to your Asterisk server as SIP/100 and one as SIP/200 to fully use the demo. After configuring your clients, just try dialing 123 or 456. For the PIN demo, the PIN is 1234.
:javascript
  $(function() {
    $('#c2c').click(function(e){
      $.ajax('http://localhost:8080/dial')
      e.preventDefault();
    });
  });
